<% include header %>

<div id="graph">

</div>

<script type="text/javascript">
var burndown = <%= JSON.stringify(burndown) %>,
    velocity = <%= velocity %>;
</script>
<script type="text/javascript" src='/js/graph.js'></script>

<% include footer %>
