<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/main.css' type='text/css'>
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.1.custom.min.js'></script>
    <script type="text/javascript" src="./js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src='/js/bootstrap.js'></script>
    <script type='text/javascript'>
      !function () {
        window.console = ('console' in window) ? console : {
          log: function () {}
        }
        var one = 'one'
          , two = 'two'
          , three = function (msg) {
            console.log(msg)
          }
        console.log([one, two].join(' '))
        three('hello there sir')
      }()
    </script>
  </head>
  <body>
  <div class="container">
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <p class="brand">Ajilehub</p>
      <ul class="nav">
        <li><a href="#"><img src="https://secure.gravatar.com/avatar/345c13e732b218fc5496d8b50ebeaa9b?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png" alt="hiraya">hiraya</a></li>
      </ul>
    </div>
    </header>

      <div id="projectTitle">
        <h1>Github-ajile-tool</h1>
          <nav>
            <ul class="navTab">
              <li class="crr"><a href="#">PBL</a></li>
              <li><a href="#">BurnDown</a></li>
            </ul>
          </nav>
      </div>

