<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/main.css' type='text/css'>
    <script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui-1.10.1.custom.min.js'></script>
    <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src='/js/bootstrap.js'></script>
    <script type="text/javascript" src='/js/common.js'></script>
  </head>
  <body>
  <div class="container">
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <p class="brand">Agilehub</p>
      <ul class="nav">
        <li>
<% if(locals.login) { %>
  <a href="#"><img src="<%=login.user._json.avatar_url%>" alt="avater"><%= login.user.username %></a></li>
<% } else { %>
  <a href="/auth/github">login</a></ul>
<% } %>
      </ul>
    </div>
    </header>

      <div id="projectTitle">
        <h1>Github-agile-tool</h1>
          <nav>
            <ul class="navTab">
              <li class="crr"><a href="#">PBL</a></li>
              <li><a href="#">BurnDown</a></li>
            </ul>
          </nav>
      </div>

