<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div><a href="/auth/github">github login</a></div>
    <div><a href="/auth/account">account info</a></div>
    <div><a href="/pbl">pbl</a></div>
    <div><a href="/projects">project page</a></div>
  </body>
</html>
