<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div><a href="/auth/github">github login</div>
    <div><a href="/auth/account">account info</div>
    <div><a href="/pbl">pbl</div>
  </body>
</html>
