<% include header %>
<h1><%= title %></h1>
<table>
<% issues.forEach(function(issue) { %>
  <tr>
    <td><%= issue.title %></td>
    <% if (issue.assignee) { %>
      <td><img src="<%= issue.assignee.avatar_url %>"/><%= issue.assignee.login %></td>
    <% } %>
  </tr>
<% }); %>
</table>
<% include footer %>
