<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% for(var i = 0; i < projects.length; i++) {%>
        <li><a href="/projects/<%= projects[i].reponame %>"><%= projects[i].reponame %></a></li>
      <% } %>
    </ul>
    <a href="/projects/new">プロジェクトの新規作成</a>
  </body>
</html>
