<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>プロジェクト'<%= name %>' が作成されました。</p>
    <a href="/projects">プロジェクト一覧へ</a>
  </body>
</html>
